<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        <% if (orders.length <=0) {%>
          <h1>Nothing there!</h1>
          <% } else { %>
            <ul>
              <% orders.forEach(order=> { %>
                <li>
                  <h1>
                    Order id: <%= order._id %>
                  </h1>
                  <h3>Order products:</h3>
                  <ul>
                    <% order.products.forEach(prod=> { %>
                      <li>
                        <%= prod.quantity %>x <%= prod.product.title %>
                      </li>
                      <% }) %>
                  </ul>
                </li>
                <% }) %>
            </ul>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>